body{
    background-color: rgb(207, 135, 147);
}

h1{
    color:rgb(25, 108, 81);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

.paragraph{
background-color: rgb(25, 108, 81);
}

#firstParagraph{
    background-color:magenta ;
}

p[name="newUniqueName"]{
    background-color: blueviolet;
}